<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div id="card-view" data-role="view" data-layout="default" data-model="app.Card" data-init="app.Card.init" data-show="app.Card.show">
            <div data-role="header">
                <div data-role="navbar">
                    <img src="styles/images/scapin-blu.png" class="newlogo" />
                    <a class="nav-button nav-button-icon nav-button-back-d hide-text" data-align="left" data-role="backbutton" href="views/activitiesView.html">Back</a>
                </div>
            </div>
            <div class="picture-wrp">

                <div style="" class="picture-container">
                    <div id="picture-user-container" class="blured-picture picture-div" style="">

                    </div>
                    <img  alt="" align="middle" id ="picture-user" class="picture-user" src="styles/images/avatar.png" style=""/>
                    <h3 class="user-salutation">
                        <span data-bind="text: DisplayName" id="UserDisplayName"></span>
                    </h3>
                </div>
                <div class="user-info">
                    <div class="user-avatar">

                    </div>
                    <div>
                        <div class="col-6 scores">
                            <h5 class="centered">
                                Punti Social
                            </h5>
                            <h5 id="socialPoints" class="centered" style="color:#E06470;" data-bind="text: SocialPoints">

                            </h5>
                        </div>
                        <div class="col-6 scores">
                            <h5 class="centered">
                                Punti Totali
                            </h5>
                            <h5 id="totalPoints" class="centered" style="color:#3ACBA7;" data-bind="text: TotalPoints">

                            </h5>
                        </div>
                    </div>
                    <h2 style="text-align:center;border-bottom:2px solid #D6D6D6;" >
                        La Tua Tessera
                    </h2>

                    <!--<span id="activityDate" class="time-span" data-bind="text: CreatedAtFormatted"></span>-->
                </div>
            </div>

            <span 
                style="width: 250px!important; margin: 0 auto;text-alignmnet:center" id="UserProfileBarcode"></span>
        </div>
        <div id="appDrawer" data-role="drawer" data-title="Menù">
            <header data-role="header">
                <div data-role="navbar">
                    <span data-role="view-title"></span>
                </div>
            </header>
            <ul id="navigation-container" data-role="listview">
                <li>
                    <a href="views/activitiesView.html" data-transition="none">Dashboard</a>
                </li>
                <li>
                    <a href="views/card.html" data-transition="none" >La mia tessera</a>
                </li>
                <li>
                    <a href="views/myCopuns.html" data-transition="none">Coupon utilizzati</a>
                </li>
                <li>
                    <a href="views/profile.html" data-transition="none" >Il mio profilo</a>
                </li>
                <li>
                    <a href="views/socialspecific.html" data-transition="none">Classifica social</a>
                </li>                
                <li>
                    <a href="views/settings.html" data-transition="none">Impostazioni</a>
                </li>
                <li>
                    <a href="views/explain.html" data-transition="none">Come funziona?</a>
                </li>
                <li>
                    <a href="views/support.html" data-transition="none">Contatti</a>
                </li>
                <li>
                    <a href="views/logout.html" data-transition="none">Disconnetti</a>
                </li>
            </ul>
        </div>

    </body>
</html>