<!DOCTYPE html>
<html>
<head>
    <title></title>
</head> 
<body>
    <div data-role="view" data-layout="default" data-init="app.Login.init" data-show="app.Login.show">
        <div data-role="header">
            <div data-role="navbar">
                <span data-role="view-title"><img src="styles/images/scapin-blu.png" class="newlogo" /></span>
                <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            </div>
        </div>
        <h2 style="text-align:center;">
           COUPON
        </h2>
        <div class="barcode-img"></div>
    </div>
</body>
</html>