<!DOCTYPE html>
<html>

    <head>
        <title></title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="//kendo.cdn.telerik.com/2015.3.930/styles/kendo.common.min.css" />
        <link rel="stylesheet" href="//kendo.cdn.telerik.com/2015.3.930/styles/kendo.default.min.css" />
    </head>

    <body id="friendsApp" data-role="view"  data-layout="default">
      
        <!--WELCOME VIEW -->
        <div data-role="view"  data-layout="default">
            <div data-role="header">
                <div data-role="navbar">
                    <img src="styles/images/scapin-blu.png" class="newlogo" />
                    <a class="nav-button nav-button-icon nav-button-back-d hide-text" data-align="left" data-role="backbutton" href="views/activitiesView.html">Back</a>
                </div>
            </div>
            <div class="pcont" style="padding-top: 20px;text-align: justify;">
            <h1 style="text-align:left;">
                Scapin App: Domande e Risposte
            </h1>
                <h3>
                    Come ottengo l'accesso alle promozioni?
                </h3>
            <p style="margin-left: 1rem;">
                Per avere accesso alle promozioni Scapin è necessario condividerle sul proprio profilo Facebook. Per farlo è sufficiente premere su "Condividi" all'interno della pagina del singolo coupon.
            </p>
                <h3>
                    Quante volte posso usare un coupon?
                </h3>
             <p style="margin-left: 1rem;">
                Il coupon sbloccato attraverso Facebook può essere utilizzato solo una volta.
            </p>
                <h3>
                    Perchè ci sono due tipologie di punti Scapin?
                </h3>
             <p style="margin-left: 1rem;">
                I punti Scapin si dividono in due parti: i "punti social" e i "punti totali".
            </p>
                 <h3>
                   Cosa sono i Punti Social?
                </h3>
             <p style="margin-left: 1rem;">
               I punti social si guadagnano attraverso le condivisioni di news e coupon attraverso l'applicazione. Ogni condivisione di news e coupon equivale a 10 punti social. Ogni condivisione di foto attraverso la Scapin app equivale a 5 punti social.        
    </p>
                 <h3>
                   Cosa sono i Punti Totali?
                </h3>
             <p style="margin-left: 1rem;">
I punti totali si guadagnano all'interno di "Scapin Caffè, Cucina & Bottega" mostrando la pagina "Tessera" alla cassa del ristorante prima di effettuare il pagamento del conto.
                          </p>
                <h3>
                   Quanto valgono i punti accumulati?
                </h3>
             <p style="margin-left: 1rem;">
               Per i punti totali ogni euro speso all'interno di "Scapin Caffè, Cucina & Bottega" equivale ad un punto. I punti social hanno valore all'interno della classifica Scapin.
            </p>
                <h3>
                   Cos'è la classifica Scapin?
                </h3>
             <p style="margin-left: 1rem;">
               La Classifica Scapin tiene il conteggio dei punti Social condivisi da ogni utente della Scapin App. Alla fine di ogni mese il vincitore ritirerà un omaggio esclusivo presso "Scapin Caffè, Cucina & Bottega". Alla mezzanotte dell'ultimo giorno del mese i punti Social verranno azzerati.
            </p>
                    <h3>
                   Come si fa a condividere e ottenere punti social?
                </h3>
             <p style="margin-left: 1rem;">
               E' sufficiente premere il tasto "condividi" all'interno di ogni coupon e novità che troverai nella bacheca dell'applicazione. Per farlo è necessario che tu abbia un profilo Facebook.            </p>
            </div>
        </div>
    </body>

</html>