<!DOCTYPE html>
<html>
    <head>
        <title>Disconnetti</title>
        <style>
          
        </style>
    </head>
    <body>
        <div id="profile-view" data-role="view"  data-layout="default" data-model="app.forgotPassword" data-init="app.forgotPassword.init" data-show="app.forgotPassword.show">
            <div data-role="header">
                <div data-role="navbar">
                    <img src="styles/images/scapin-blu.png" class="newlogo" />
                    <a class="nav-button nav-button-icon nav-button-back-d hide-text" data-align="left" data-role="backbutton" href="#welcome">Indietro</a>
                </div>
            </div>
            <div class="">
                <div class="">
                    <ul style="  width: 100%;
                        padding-right: 8px;
                        padding-left: 1px;">
                        <li>
                            <input type="email" id="passwordResetEmail" placeholder="Inserisci l'indirizzo email del tuo account" name="email" style="  width: 100%;padding: 3px;margin: 3px;">
                        </li>
                        <li>
                            <span data-role="touch" id="requestPasswordReset" style="  width: 100%;
                                  padding-left: 4px;">
                                <a data-role="button" class="btn btn-login" style="width:100%">Invia Richiesta</a>
                            </span>
                        </li>
                    </ul>

                </div>

            </div>

        </div>
    </body>
</html>