<!DOCTYPE html>
<html>
<head>
    <title></title>
</head> 
<body>
    <div data-role="view" data-layout="default" data-init="app.inviti.init" data-show="app.inviti.show">
        <div data-role="header">
                <div data-role="navbar">
                    <img src="styles/images/scapin-blu.png" class="newlogo" />
                    <a class="nav-button nav-button-icon nav-button-back-d hide-text" data-align="left" data-role="backbutton" href="views/shops.html">Back</a>
                </div>
            </div>
        <div id="form_invito">
            <form style="text-align: center;">
                <div>
                    <label>Nome dell' utente da invitare</label>
                    <input style="margin:auto;" type="text" id="name" name="name" placeholder="Mario Rossi">
                </div>            <div>
                    <label>Numero di telefono cellulare</label>
                    <input style="margin:auto;" type="text" id="phone" name="phone" placeholder="+39 345 xxxxxxx">
                </div>
                <div>
                    <label>Email dell'utente da invitare</label>
                    <input style="margin:auto;" type="text" id="email" name="email" placeholder="mario.rossi@hotmail.it">
                </div>
                <div>
                    <a id="invito" data-role="button" class="btn btn-facebook km-widget km-button" data-role="touch" onclick="app.inviti.invito()" style="width: 100%; background: rgb(58, 203, 167) !important; touch-action: pan-y;"><span class="km-text">Invita</span></a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>