<!DOCTYPE html>
<html>
    <head>
        <title>Logout</title>
        <style>
          
        </style>
    </head>
    <body>
        <div id="profile-view" data-role="view"  data-layout="default" data-model="app.logout" data-init="app.logout.init" data-show="app.logout.show">
            <div class="">
                <div class="">

                    <h1 class="icon ion-log-out " style=" font-size: 8rem;color: #9B9B9B;text-align:center;margin-top:50px;" > </h1>

                    <h4 style="text-align:center;color:#3D3D3D">Disconnessione in corso..</h4>
                </div>

            </div>

        </div>
    </body>
</html>