<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div id="card-view" data-role="view" data-layout="default" data-model="app.Card" data-show="app.Card.show">
            <div data-role="header">
                <div data-role="navbar">
                    <img src="styles/images/scapin-blu.png" class="newlogo" />
                    <a class="nav-button nav-button-icon nav-button-back-d hide-text" data-align="left" data-role="backbutton" href="views/activitiesView.html">Back</a>
                </div>
            </div>



            <!-- 1 -->
            <div  style="" id="dashboardidentifier">
                <div class="oriz_line"></div>
                <!--div class="pagetitle">NEGOZI</div-->
                <h2 class="pagetitle">NEGOZI</h2>

            </div>

            <div >
                <ul id="shop-list">
                </ul>
            <div>





        </div>


    </body>
</html>